// Styling for the masthead
header.masthead {
  text-align: center;
  color: white;
  background-color: black;
  background-image: url('../img/header-bg.jpg');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  position: relative;
  padding: 6rem 0;
  &:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.6);
    z-index: 1;
  }
  .container {
    z-index: 2;
    position: relative
  }
  .intro-logo {
    margin-bottom: 60px;
  }
  .intro-text {
    .intro-heading {
      font-size: 2.8rem;
    }
    .intro-subheading {
      font-size: 2.2rem;
    }
    .intro-desc {
      font-size: 2rem;
      line-height: 3.4rem;
      font-weight: 300;
      a {
        font-weight: 600;
        color: white;
      }
    }
    .intro-btn {
      background: linear-gradient(-190deg, #03b8fc, #8c7bff);
      font-weight: 800;
      margin: 50px 0;
      &:hover {
        background: linear-gradient(-150deg, #03b8fc, #8c7bff);
      }
    }
  }
}